*.egg
*.egg-info
*.pyc
*.pyd
*.so
.*.swp
.DS_Store
._.DS_Store
.cache/
.coverage
.tox
/.libsass-upstream-version
build/
dist/
docs/_build
testpkg/build/
testpkg/dist/
testpkg/testpkg/static/css/*.scss.css
