include libsass/*.h
include libsass/*.hpp
include libsass/*.cpp
include libsass/Makefile
include libsass/Makefile.am
include libsass/b64/*.h
include libsass/utf8/*.h
include win32/*.h
include test/*.scss
include README.rst
