recursive-include libsass *.c
recursive-include libsass *.cpp
recursive-include libsass *.h
recursive-include libsass *.hpp
include libsass/Makefile
include .libsass-upstream-version
include test/*.scss
include README.rst
